@import './root.css';
@import './font.css';
header {
    display: flex;
    flex-direction: row;

}

.header_sec1_back_gray {
    background-color: var(--HINTS_OF_PENSIVE);
    border-radius: 10px;
    padding: 1%;
    margin-right: 80%;

}
.HeaderItem_text {
    font-family: "Poppins", serif;
    color: var(--VANADYL_BLUE);
}