
:root {
   --PROTOSS_PYLON: #00a8ff;
   --VANADYL_BLUE: #0097e6;
   --NASTURCIAN_FLOWER: #e84118;
   --HARLEY_DAVIDSON_ORANGE: #c23616;
   --PERIWINKLE: #9c88ff;
   --MATT_PURPLE: #8c7ae6;
   --LYNX_WHITE: #f5f6fa;
   --HINTS_OF_PENSIVE: #dcdde1;
   --RISE_N_SHINE: #fbc531;
   --NANOHANACHA_GOLD: #e1b12c;
   --BLUEBERRY_SODA: #7f8fa6;
   --CHAIN_GANG_GREY: #718093;
   --DOWNLOAD_PROGRESS: #4cd137;
   --SKIRRET_GREEN: #44bd32;
   --MAZARINE_BLUE: #273c75;
   --PICO_VOID: #192a56;
   --SEABROOK: #487eb0;
   --NAVAL: #40739e;
   --BLUE_NIGHTS: #353b48;
   --ELECTROMAGNETIC: #2f3640;


}